# Binaries
**bin/
!vendor/premake/bin/
bin-int/

# Hammer Log
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
# Directories
Hammer/vendor/VulkanSDK
Hammer-Editor/assets/cache
scripts/__pycache__
